:root{
    --color-bg-white: #FCFDFF;
    --color-black: #14130F;
    --color-grey: #434240;
    --color-decoration-1: #FEAF1F;
    --color-decoration-2: #FD4B1B;
    --color-decoration-3: #0E5AD2;

    --wrapper-primary: 60%;
}
