.services-card{


    &__img{
        height: 8.1rem;
        width: 9rem;
        margin-bottom: 5.1rem;
    }

    &__title{
        margin-bottom: 4rem;
    }

    &__description{
        padding: 0 5rem; 
    }
}