.stat-card{
    width: 28.5rem;
    height: 20rem;
    border: solid 1px;
    // padding: 6.4rem 4.4rem 4.6rem 4.4rem;
    font-weight: 600;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    // @for $i from 1 through 3{
    //     border-color: var(--color-decoration- + $i);
    //     // & .header-tertiary:nth-of-type(#{$i}){
    //     //     color: var(--color-decoration- + $i);
    //     // }
    // }


    &__icon{
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 10rem;
    }

    &__title{
        font-size: 6rem;
        margin-bottom: 0.5rem;
    }

    &__info{
        font-size: 2rem;
    }
}