.margin-bottom-large{margin-bottom: 11.5rem !important;}
.margin-bottom-medium{margin-bottom: 7.5rem !important;}

.extended-width-small{width: 105% !important;}

.extended-width-medium{width: 115% !important;}

.span--c1{color: var(--color-decoration-1)!important;}

.span--c2{color: var(--color-decoration-2)!important;}

.span--c3{color: var(--color-decoration-3)!important;}